# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
build
# don't lint nyc coverage output
coverage
**/__generated__/**/*.ts
**/__generated__/**/*.tsx
**/__generated__*.ts
**/__generated__*.tsx
./*.ts

src/API/swagger-api-to-typescript-code-generator/*

public/electron.js
